In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Final_Marksheet.csv')
df.head(7)

,id,Roll_No,Div,Mentor,Branch,Enrollment,Name,DM_T1,DM_T2,DM_T3,...,TOC_T3,TOC_T4,FCSP_2_T1,FCSP_2_T2,FCSP_2_T3,FCSP_2_T4,COA_T1,COA_T2,COA_T3,COA_T4
0,1,1,C1,BNS,IT,21002170210071,PATEL SHREY KALPESHBHAI,25.0,22.5,25.0,...,25.0,24.0,23.0,25.0,24.0,24.0,25.0,25.0,25.0,20.0
1,2,2,C1,MPH,IT,21002170210060,PATEL DHAIRYA LALITKUMAR,25.0,22.0,25.0,...,24.5,23.0,18.5,24.0,23.0,18.0,20.0,23.0,24.0,18.5
2,3,3,C1,BKV,CSD,21002170310039,VADHER SAHIL DINESHBHAI,20.5,21.0,22.5,...,25.0,24.0,22.5,25.0,25.0,19.0,24.0,23.0,23.5,24.0
3,4,4,C1,ASP,IT,21002170210066,PATEL HENIL KULIN,25.0,21.0,21.0,...,23.5,24.0,21.5,25.0,24.0,19.0,25.0,25.0,23.0,21.0
4,5,5,C1,JVC,IT,21002170210015,DESAI RADHIKA BHARATBHAI,22.5,22.5,25.0,...,24.0,22.0,19.5,25.0,20.5,21.0,20.0,24.0,24.0,23.0
5,6,6,C1,AKS,IT,21002170210056,PARMAR MANSI RAJESHBHAI,25.0,18.5,23.0,...,24.5,25.0,20.5,24.5,25.0,22.0,24.0,23.0,23.0,20.0
6,7,7,C1,MVK,IT,21002170210083,SAVALIYA HARSHKUMAR CHANDUBHAI,25.0,21.5,25.0,...,23.5,21.0,19.0,25.0,24.0,22.0,24.0,23.0,23.0,18.0